@model TravelTripProje.Models.Siniflar.Hakkimizda
@{
    ViewBag.Title = "AboutGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AboutGetir</h2>



<br />
@using (Html.BeginForm("AboutGuncelle", "About", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Fotourl)
    @Html.TextBoxFor(x => x.Fotourl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
   
    <br />
    
    <button class=" btn btn-primary">Hakkında Güncelle</button>
}